<font style="font-family:'brandon grotesque',tahoma;font-size:10px;color:#d8d8d8">
	<table width="440" border="0" cellspacing="0" cellpadding="0" style="width:440px;border-top:solid 1px #e9e9e9;line-height:13px">
		<tr>
			<td colspan="1" style="width:20px" width="20px">
			</td>
			<td colspan="10" style="width:400px" width="400px">
				<table width="40" border="0" cellspacing="0" cellpadding="0" style="width:400px">
					<tr>
						</br>
					</tr>
					<tr>
						<td colspan="7" style="width:310px" width="310px">
							<font style="line-height:30px;font-size:20px">
								{{ page.name }}
							</font>
						</td>
						<td colspan="1" style="width:30px;text-align:right" width="27px">
							<a href="https://twitter.com/100shapes">
								<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/twitter_logo.png" width="17">
							</a>
						</td>
						<td colspan="1" style="width:30px;text-align:right" width="27px">
							<a href="https://www.linkedin.com/company/100-shapes">
								<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/linkedin_logo.png" width="17">
							</a>
						</td>
						<td colspan="1" style="width:30px;text-align:right" width="27px">
							<a href="https://medium.com/@100shapes">
								<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/medium_logo.png" width="17">
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="8" style="width:400px" width="400px">
							<font style="color:#9b9b9b;line-height:30px;font-weight:lighter;font-size:17px">
								{{ page.position }}
							</font>
						</td>
					</tr>
					<tr>
						<font style="color:#215CFF;font-size:14px">
							<td colspan="1" style="width:30px" width="30px">
								<a href="tel:+442037738175" style="text-decoration:none">
									<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/phone_icon.png" width="17">
								</a>
							</td>
							<td colspan="2" style="width:100px" width="100px">
								<a href="tel:+442037738175" style="text-decoration:none">
									02037738175
								</a>
							</td>
							<td colspan="1" style="width:20px" width="20px">
							</td>
							<td colspan="1" style="width:30px" width="30px">
								<a href="http://100shapes.com" style="text-decoration:none">
									<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/web_icon.png" width="17">
								</a>
							</td>
							<td colspan="3" style="width:100px" width="100px">
								<a href="http://100shapes.com" style="text-decoration:none">
									100Shapes.com
								</a>
							</td>
						</font>
					</tr>
					<tr>
						<td>
							<br />
						</td>
					</tr>
					<tr>
						<td colspan="14" style="-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #f5a623;width:400px" width="400px">
							<table width="400" border="0" cellspacing="0" cellpadding="0" style="width:400px">
								<font style="color:#F5A623;line-height:40px;font-size:14px">
									<tr>
										<td colspan="1" style="width:15px" width="15px">
										</td>
										<td colspan="1" style="width:340px" width="340px">
											<a href="http://100shapes.com" style="text-decoration:none;color:#f5a623;line-height:40px;font-size:14px">Get
												regular advice from our UX Strategists
											</a>
										</td>
										<td colspan="1" style="width:15px" width="15px">
											<a href="http://100shapes.com" style="text-decoration:none;color:#f5a623;line-height:40px;font-size:20px">
												&rsaquo;
											</a>
										</td>
										<td colspan="1" style="width:15px" width="15px">
										</td>
									</tr>
								</font>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<br />
						</td>
					</tr>
					<tr>
						<td colspan="4" style="width:190px" width="190px">
							<font style="line-height:30px;font-size:14px;font-style:italic;color:#d8d8d8">
								Proudly official design suppliers
							</font>
						</td>
						<td colspan="2" style="width:60px;text-align:right" width="61px">
							<a href="http://www.bbc.co.uk/taster/projects/symphinity">
								<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/bbc_logo.png" width="51">
							</a>
						</td>
						<td colspan="2" style="width:60px;text-align:right" width="51px">
							<a href="https://www.gov.uk/">
								<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/crown_logo.png" width="41">
							</a>
						</td>
						<td colspan="2" style="width:60px;text-align:right" width="51px">
							<a href="http://www.itv.com/">
								<img src="https://s3-eu-west-1.amazonaws.com/signiture-media/sigs/itv_logo.png" width="41">
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<br />
						</td>
					</tr>
					<tr>
						<td colspan="10" style="width:400px" width="400px">
							<font style="line-height:14px;font-size:14px;color:#d8d8d8">
								<strong>100 Shapes</strong> - UX & Design for broadcast media
							</font>
						</td>
					</tr>
					<tr>
						<td colspan="10" style="width:400px" width="400px">
							<font style="line-height:14px;font-size:10px;color:#d8d8d8">
								<br />
								Registered No. 07836950<br />
								Registered Office: 5 Cape Yard, Wapping, London, E1W 2JU<br />
								VAT #: GB136 1292 30<br />
								<br />
								This e-mail and any attachments may contain confidential material for
								the sole use of the intended recipient(s). Any review or distribution
								by others is strictly prohibited. If you are not the intended
								recipient, please contact the sender and delete all copies
							</font>
						</td>
					</tr>
				</table>
			</td>
			<td colspan="1" style="width:20px" width="20px">
			</td>
		</tr>
	</table>
</font>